
/dist

node_modules

.idea

.vscode

router.config.js

vue-router.js

.pnpm-lock.yaml

/.npm-only-allow
/.npm-only-allow
/.npm-only-allow
/.npm-only-allow
/.npm-only-allow
/.npm-only-allow
/.npm-only-allow